.notification-container{

position:relative;

}

.bell-btn{

background:none;

border:none;

font-size:22px;

color:white;

cursor:pointer;

transition:.3s;

}

.bell-btn:hover{

color:gold;

}

.notification-dropdown{

position:absolute;

top:45px;

right:0;

width:260px;

background:white;

border-radius:12px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

padding:15px;

z-index:1000;

display:flex;

flex-direction:column;

}

.notification-dropdown h4{

margin:0 0 10px;

color:#4F46E5;

font-size:17px;

}

.notification-dropdown p{

margin:0;

padding:10px 0;

border-bottom:1px solid #eee;

font-size:14px;

color:#444;

line-height:20px;

}

.notification-dropdown p:last-child{

border-bottom:none;

}

.notification-count{

position:absolute;

top:-6px;

right:-6px;

background:red;

color:white;

width:18px;

height:18px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:11px;

font-weight:bold;

}

.notification-item{

padding:10px 0;

border-bottom:1px solid #eee;

}

.notification-item p{

margin:0;

font-weight:500;

}

.notification-item small{

color:gray;

font-size:12px;

}

.notification-dropdown{

animation:popup .25s ease;

}

@keyframes popup{

from{

opacity:0;

transform:translateY(-10px);

}

to{

opacity:1;

transform:translateY(0);

}

}